{% extends 'baseAdmin/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% block content %}
     <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>UserID</th>
                                                <th>UserName</th>
                                                <th>First-Name</th>
                                                <th>Last-Name</th>
                                                <th>Email</th>
                                                <th>Phone-Number</th>
                                                <th>Update</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {% for user in form %}
                                             <tr>
                                                <td>{{ user.id }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.first_name }}</td>
                                                <td>{{ user.last_name }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.phone_number }}</td>
                                                <td><a class="btn btn-sm btn-info" href="{% url 'update_user' user.id %}">Update</a></td>
                                                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_user' user.id %}">Remove</a></td>
                                            </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


{% endblock %}