
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Our Chefs</h6>
                         <hr>
                        <form class="form-inline my-2 my-lg-0  ml-auto"  action="{% url 'search_chef' %}" method="GET">
                                <input type="searched" class="form-control mr-sm-2" name="searched" placeholder="Search..."
                                    style="border-radius: 30px;height: 35px;font-family: 'Times New Roman', Times, serif;width: 200px;">
                            </form>
                </div>
            </div>
            <div class="row">
                {% for chef in chefs %}
                <div class="col-lg-4">
                    <a href="{% url 'chef_detail' chef.id %}">
                        <div class="chef-item">
                            <div class="thumb">
                                <img src="{{ chef.profile_pic.url }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4>{{ chef.first_name }} {{ chef.last_name }}</h4>
                                <span>{{ chef.speciality }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
        </div>
    </section>
{% endblock %}