
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body>
    
    <br>

    <div class="container" style="padding-top: 3%;">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-4" style="height:90%">
    
                    <div class="card-header" style="background-color: #fb5849 ;">
                    <h4 class="text-center" style="color: white; font-weight: bold;font-family: 'RocknRoll One', sans-serif;">Booking Details</h4>
                    </div>
                    <div class="card-body" style="padding: 10%;font-size: 15px;">
    
                        <p> <span style="font-weight: bold;">First Name: </span> {{booking.first_name}}</p>
                        <p> <span style="font-weight: bold;">Last Name: </span>  {{booking.last_name}}</p>
                        <p> <span style="font-weight: bold;">chef: </span>  {{booking.schedule.user_chef.first_name}} {{booking.schedule.user_chef.last_name}}</p>
                        <p> <span style="font-weight: bold;">meal: </span>  {{booking.meals}} </p>
                        <p> <span style="font-weight: bold;">Additional Information: </span>  {{booking.add_info }} </p>
                        <p> <span style="font-weight: bold;">Booked: </span>  {{booking.schedule.schedule_time }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'index' %}" class="btn" style="float: right; background-color: #fb5849 ;color: white;font-weight: bold;">Done</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    {% endblock %}
