
  {% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <!-- ******meal details start *****-->

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{meals.meal_image.url}}">
            </div>
            <div class="col-7" style="margin-left: -0.38cm;">
                <div style="margin-top:3%;">
                    <span style="font-weight: bold;color:#fb5849;font-size: 20px; text-transform: uppercase;">
                        {{meals.name}} </span>
                    </p>
                    <hr>
                    <!-- <h5 style="font-weight: bold;color: rgb(126, 123, 123);font-size: 20px;"> Overview</h5> -->
                    <p style="font-weight: bold;font-size: 16px;">Description: <span>{{ meals.description }}</span></p>

                    <p style="font-weight: bold;font-size: 16px;">Category: <span>{{ meals.category }}</span></p>
                    <p style="font-weight: bold;font-size: 16px;">Calories: <span>{{ meals.Calories }}</span></p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
        <section class="section" id="chefs">
            <div class="container">
                <h3 class="text-center"
                style="border-bottom: 4px solid #fb5849;font-weight: bold;max-width: 25%;margin: auto;color: grey;padding-bottom: 15px;">
                Specialised Chefs</h3>
                <div class="row">
                    <div class="col-lg-4">

                            <div class="chef-item">
                                <div class="thumb">
                                    <img src="{{ meals.user_chef.profile_pic.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{ meals.user_chef.first_name }} {{ meals.user_chef.last_name }}</h4>
                                    <span>{{ meals.user_chef.speciality }}</span>

                                </div>
                            </div>
                    </div>
                   
                </div>
    
            </div>
        </section>
   

    <!--******meal details end *****-->
    <br>
    <br>
    <br>
    {% endblock %}