
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
       <br>
    <br>
    <br>
    <br>
    <br>
    <section class="section" id="chefs">
        <div class="container">
            {%  if searched %}
            <h3 class="text-center" style="font-weight: bold;color: #fb5849;font-size: 25px;">Found </h3>
            <div class="row">
                {% for meal in meals %}
                <div class="col-lg-4">
                    <a href="{% url 'meal_detail' meal.id %}">
                        <div class="chef-item">
                            <div class="thumb">
                                <img src="{{ meal.meal_image.url }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4>{{ meal.name }}</h4>
                                <span>{{ meal.category }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h5 class="text-center"> We didn't find any match for your search</strong></h5>
            {% endif %}
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
  {% endblock %}